DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/your-database-name
PAYLOAD_SECRET=your-payload-secret
POSTGRES_URL=postgres://postgres:<password>@127.0.0.1:5432/your-database-name
POSTGRES_USER=your-postgres-user
POSTGRES_HOST=postgres.host.com
SUPABASE_JWT_SECRET=your-secret
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-key
POSTGRES_PASSWORD=your-password
POSTGRES_DATABASE=your-database
SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_URL=your-supabse-url
VERCEL_PROJECT_PRODUCTION_URL=your-app-domain

PREVIEW_SECRET=your-preview-secret
RESEND_API_KEY=your-resend-api-key-for-email

S3_BUCKET=your-s3-storage-bucket-name
S3_ENDPOINT=your-s3-storage-bucket-endpoint
S3_ENDPOINT_DEV_URL=your-s3-storage-bucket-dev-endpoint
S3_ACCESS_KEY_ID=your-s3-storage-access-key-id
S3_SECRET_ACCESS_KEY=your-s3-storage-secret-access-key-id